body {
  background:#57595E;
  height: 100%;
}

.playerOne {
  position: relative;
  left: 50px;
  width: 90px;
  height: 80px;
  margin: 5px;
  top: 160px;
}

.playerTwo {
  position: relative;
  left: 50px;
  width: 90px;
  height: 80px;
  margin: 5px;
  top: 240px;
}

.container{
  background:url('trackfinal.png') 40%;
  height:30em;
  position:relative;
}

center{
  position: relative;
  animation: color-change 1s infinite;
  font-size: 5em;
  text-align: center;
  font-family: "rockwell extra bold";
}

@keyframes color-change {
    0% { color:  black; }
    100% { color:  white}
  }
